#path {
    padding-top: 20px;
    padding-left: 100px;
    padding-bottom: 5px;
}

.search-results {
    width: 100%;
    padding: 10px 0;
}

.heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
}

.head-cont {
    display: flex;
    justify-content: left;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 40px;

}

.heading span {
    font-weight: 700;
}

.sort-box {
    position: absolute;
    right: 110px;
}

.sort-box select {
    padding: 0 15px;
    height: 35px;
    line-height: 22px;
    font-size: 14px;
    display: inline-block;
    right: 0;
    text-align: center;
    border: 1px solid #383838;
    border-radius: 30px;
}

.product-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0 40px;
    margin: auto;
}

.product-card {
    cursor: pointer;
    margin-bottom: 60px;
    width: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform .2s;
}

.product-card:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.product-card img {
    width: 80%;
}

.product-title,
.price {
    padding-top: 10px;
    margin:0 10px;
}

#pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    margin: 5px;
    text-decoration: none;
    border: 0.5px solid rgba(191, 97, 106, 0.7);
    border-radius: 5px;
}

#pagination a.active {
    background-color: rgba(191, 97, 106, 0.7);
    color: white;
}

#pagination a:hover:not(.active) {
    background-color: #ddd;
}