.product-details {
    width: 100%;
    padding: 60px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-slider {
    width: 500px;
    height: 500px;
    position: relative;
    background-image: url(../img/product\ image\ 1.png);
    background-size: cover;
}

.details {
    width: 50%;
}

.details .product-brand {
    text-transform: capitalize;
    font-size: 30px;   
}

.details .product-title {
    font-size: 25px;
    line-height: 30px;
    height: auto;
    margin: 15px 0 30px;
    color: #898989;
}

.product-price {
    font-weight: 700;
    font-size: 30px;
}

.product-des {
    padding: 20px 0;
    color: #383838;
    line-height: 25px;
    
}