#product-details {
    width: 100%;
    padding: 60px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-slider {
    position: relative;
    background-size: cover;
}

.image-slider img {
    width: 450px;
    height: 500px;
}

h3 {
    padding: 20px 0 0 0;
    text-align: center;
    text-transform: capitalize;
}

.details {
    width: 50%;
    /* padding-left: 40px; */
}

.details .product-brand {
    text-transform: capitalize;
    font-size: 35px;
}

.details .product-title {
    font-size: 30px;
    line-height: 30px;
    height: auto;
    margin: 15px 0 30px;
    color: #898989;
    text-transform: capitalize;
}

.product-price {
    font-weight: 700;
    font-size: 30px;
}

.product-des {
    color: #383838;
    line-height: 25px;

}

#heading {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    padding-top: 20px;
}

.prod-title {
    text-transform: capitalize;
}

.product-recommend {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-gap: 30px; */
    
}

.product-card {
    cursor: pointer;
    margin-bottom: 20px;
    width: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: auto;
}

.product-card img {
    width: 80%;
}

.product-title,
.price {
    padding-top: 10px;
    margin-right: -10px;
}